.forumlist {

}
.forumlist td {
  padding:10px;
}
.forum-name {
  font-weight:bold;
  color:black;
}
.forum-divider {
  font-weight:bold;
  color:black;
  margin-top:10px;
  margin-bottom:5px;
  border-bottom:1px solid black;
}
table {
  border:1px solid black;
}
